
/* HELENE */
html{
  scroll-behavior: smooth;
}

body{
  margin: 0;
  font-family: titilliumWeb;
  font-size: 15px;
  line-height: 1.5;
  background-color: #4C4D52;
  color: white;

}

.btn {
  border: none;
  background-color: green;
  padding: 8px 28px;
  font-size: 16px;
  color: white;
  cursor: pointer;
  display: inline-block;
  margin-left: 12%;
  margin-top: 4%;
}

.btn:hover {background: #4C4D52;}


/* palletype_fastlane */

.ikon{
  width: 5%;
  height: 5%;
  align-self: center;
}

@media only screen and (max-width: 1000px) {
 .ikon{
   width: 10% ;
   height: 10% !important;
 }
}

.header{
  padding-top: 2%;
  padding-bottom: 2%;
  display: flex;
  justify-content: space-around;
  background-color: black;
  max-height:70px;
  align-items: center;
}


.menu{
  display: none;
}

.menu ul{
  position: absolute;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  height: auto;
  background-color: rgb(34, 37, 42);
}

.menu li a{
  color: white;
  text-decoration: none;
  line-height: 200%;
}

.palletyper{
  padding-top: 10%;
  display: grid;
  justify-content: center;
  grid-gap: 5%;
  margin-left: 15%;
  margin-right: 15%;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 1fr 1fr 1fr;
  align-items: stretch;
}

.item{
  background-color: rgb(48, 49, 52);
  padding: 5%;
  margin-top: 15px;
  text-align: center;
  color: white;
  font-family: titilliumWeb;
  letter-spacing: 1px;
  font-size: 11px;
  align-items: center;
  border-radius: 5px;
}

.overskrift1{
  text-align: center;
  font-size: 18px;
  padding-top: 10%;
  color: rgb(224, 98, 53);
}

.overskrift2{
  margin-top: 20%;
  text-align: center;
  font-size: 18px;
  padding-top: 10%;
  color: white;
}

.overskrift3{
  font-size: 15px !important;
  color: rgb(224, 98, 53) !important;
}

.trin{
  padding-top: 2%;
  padding-bottom: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: fixed;
  bottom: 0;
  background: black;
  max-height:70px;
}

.ikon2{
  width: 10%;
}

@media only screen and (max-width: 1000px) {
 .ikon2{
   width: 20% !important;
   height: 20% !important;
 }
}


/* pakketyper-fastlane */

.pakketyper{
  padding-top: 10%;
  margin-right: 5%;
  margin-left: 2%;
  display: grid;
  justify-content: center;
  grid-gap: 5%;
  grid-template-columns: 1fr 2fr;
  grid-auto-rows: 110px 110px 110px;
  align-items: stretch;
  grid-template-rows: auto auto auto auto;
}

.pakketyper > div{
  margin-top: 0;
  padding-top: 0;
  color: white;
  font-family: titilliumWeb;
  letter-spacing: 1px;
  font-size: 11px;
  display: flex;
}

.pakketype-boks{
  width: 100px;
  height: 30px;
  background: #303134;
  border-radius: 3px;
  align-items: center;
  justify-content: center;
  font-size: 13px !important;
}

.form-boks{
  width: 150px;
  height: 20px;
  background: #C3C4C5;
  border-radius: 3px;
}

.flexbox-pakketyper{
  display: flex;
  flex-direction: column;
  align-items: flex-start !important;
  justify-content: flex-start !important;
  row-gap: 8%
}

.text{
  text-align: left  !important;
}

.pakkehoejde{
  padding-top: 10%;
  margin-right: 5%;
  margin-left: 2%;
  display: grid;
  justify-content: center;
  grid-gap: 15%;
  align-items: stretch;
}

.lbh-flexbox{
  display: flex;
  flex-direction: column;
}

.lbh-flexbox label{
  padding-bottom: 1%;
  margin: 0;
}

.xxx{
  padding-top: 0px;
}

#panel1{
  visibility: hidden;
}

#panel2{
  visibility: hidden;
}

#panel3{
  visibility: hidden;
}

#panel4{
  visibility: hidden;
}

#panel5{
  visibility: hidden;
}

/* Skifttyper */

@font-face {
  font-family: titilliumWeb;
  src: url('fonts/Titillium_Web/TitilliumWeb-Light.ttf');
}

h1{
  font-family: titilliumWeb;
  letter-spacing: 3px;
  color: white;
  font-size: 20px;
  text-align: center;
}
/* HELENE SLUT */
/* STYLEGUIDE */

a{
  text-decoration: none;
  color: white;
}

hr{
  border: 2px solid white;
  margin-bottom: 0px;
}

.flex-container{
  display: flex;
  flex-wrap: wrap;
}

.navbar{
  flex: 2;
}

.content{
  flex: 12;
}

.navbar ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 10%;
  background-color: rgb(48, 49, 52);
  height: 100%;
  overflow: auto;
  font-family: "CenturyGothic", sans-serif;
  min-width: 180px;
}

.navbar li a{
  display: block;
  padding: 8px 16px;
  text-decoration: none;
  color: white;
}

.navbar li a.active {
  background-color: rgb(224, 98, 53);
  color: white;
}

.navbar li a:hover:not(.active) {
  background-color: #555;
  color: white;
}

@media screen and (max-width: 600px){
  .navbar{
    flex: 4;
  }

  .content{
    flex: 6;
  }

  .navbar ul{
      min-width: 120px;
  }
}

.burgermenu img{
    height: 60px;
    width: 60px;
}

.pil img{
    height: 50px;
    width: 60px;
}

.logo img{
    height: 50px;
    width: 60px;
}

.containercheck {
  border-radius: 5px;
  background-color: #303134;
  padding: 20px;
  margin-top: 30px;
  margin-right: 800px;
}

.col-25f {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75f {
  float: left;
  width: 75%;
  margin-top: 6px;
}

.formular:after {
  content: "";
  display: table;
  clear: both;
}

.containerformular {
  border-radius: 5px;
  background-color: #303134;
  padding: 20px;
  margin-top: 30px;
  margin-right: 600px;
}

.grid-container{
  display: grid;
  grid-template-columns: 1fr 2fr;
  row-gap: 5%;
}

/* STYLEGUIDE (FARVER) */
.flex-container2{
  display: flex;
  flex-direction: column;
}

.orange{
  width: 70px;
  height: 70px;
  background: #E06538;
  border-radius: 10px;
}

.hvid{
  width: 70px;
  height: 70px;
  background: #ffffff;
  border-radius: 10px;
}

.sort{
  width: 70px;
  height: 70px;
  background: #000000;
  border-radius: 10px;
}

.lysgraa{
  width: 70px;
  height: 70px;
  background: #C1C3C3;
  border-radius: 10px;
}

.graa{
  width: 70px;
  height: 70px;
  background: #4C4D52;
  border: 1px solid black;
  border-radius: 10px;
}

.moerkgraa{
  width: 70px;
  height: 70px;
  background: #303134;
  border-radius: 10px;
}

/* STYLEGUIDE SLUT */


/* JOHN START */
/* VELKOMMEN-SIDEN (START)*/
.nytemplate {
  border-radius: 5px;
  background-color: #303134;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 35px;
  padding-bottom: 35px;
  margin: 20px;
  margin-top: 10px;
}

.loadtemplate {
  border-radius: 5px;
  background-color: #303134;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 35px;
  padding-bottom: 35px;
  margin: 20px;
  margin-top: 10px;
}

.Velkomsttekst h1 {
    padding-top: 35px;
    text-align: center;
    font-size: 30px;
    color: #EC5D1F;
}

.templateknap button {
  background-color:#4C4D52;
  color: #ffffff;
  font-size: 23px;
  font-family: "TitilliumWeb";
  text-decoration: none;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
  margin-bottom: 5%;
  transition-duration: 0.4s;
  border-radius: 1px;
  border: 0.1em solid #000000;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  cursor: pointer;
}
/* VELKOMMEN-SIDEN (SLUT)*/
/* VÆLG PALLETYPE-SIDEN (START)*/
.vaelgpalletyperher{
  padding-top: 10%;
  display: grid;
  justify-content: center;
  grid-gap: 5%;
  grid-template-columns: 130px 130px;
  grid-auto-rows: 130px 130px 130px;
  align-items: stretch;
}

.individuelpalletype{
  background-color: rgb(48, 49, 52);
  padding: 5%;
  margin-top: 15px;
  text-align: center;
  color: white;
  font-family: "TitilliumWeb";
  letter-spacing: 1px;
  font-size: 13px;
  display: flex;
  align-items: center;
  border-radius: 5px;
}

.titelvaelgpalletype{
  margin-top: 10%;
  text-align: center;
  font-size: 25px;
  color: rgb(224, 98, 53);
}
/* VÆLG PALLETYPE-SIDEN (SLUT)*/
/* DU HAR VALGT-SIDEN (START)*/

.duharvalgt h1 {
    padding-top: 20px;
    text-align: center;
    color: #EC5D1F;
}

.containerditvalg {
  border-radius: 5px;
  background-color: #303134;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 60px;
  padding-bottom: 60px;
  margin: 50px;
}

.ditvalg{
  background-color: rgb(48, 49, 52);
  padding-left: 50px;
  text-align: center;
  color: white;
  font-family: "TitilliumWeb";
  letter-spacing: 1px;
  font-size: 18px;
  align-items: center;
}

.titelfyldningsprocent h3{
    padding-left: 20px;
    color: #ffffff;
}

.titelfyldningshøjde h3{
    padding-left: 20px;
    color: #ffffff;
}

.titeltilladtudhæng h3{
    padding-left: 20px;
    color: #ffffff;
}

.containerprocentsats {
  border-radius: 5px;
  background-color: #303134;
  padding: 20px;
  margin: 20px;
}

.containertilindhold {
  border-radius: 5px;
  background-color: #303134;
  padding: 20px;
  margin: 20px;
}

.containertilindhold2 {
  border-radius: 5px;
  background-color: #303134;
  padding-left: 90px;
  padding-top: 20px;
  padding-bottom: 20px;
}

label {
  color: white;
}

* {
  box-sizing: border-box;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.col-250 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-750 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.rows:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-250, .col-750, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
/* DU HAR VALGT-SIDEN (SLUT)*/
/* PAK PALLEN DU HAR VALGT-SIDEN (START)*/

.pakpallenduharvalgt h1 {
    padding-top: 20px;
    text-align: center;
    color: #EC5D1F;
}

.menunavnetilpakning{
  padding-top: 2%;
  display: grid;
  justify-content: center;
  grid-gap: 5%;
  grid-template-columns: 100px 100px 100px;
  grid-auto-rows: 50px 50px 50px;
  align-items: stretch;
}

.pakdinpalleher{
  padding-top: 2%;
  display: grid;
  justify-content: center;
  grid-gap: 5%;
  grid-template-columns: 100px 100px 100px;
  grid-auto-rows: 100px 100px 100px;
  align-items: stretch;
}

.menupalletilrådighed{
  background-color: rgb(48, 49, 52);
  padding: 5%;
  margin-top: 15px;
  text-align: center;
  color: white;
  font-family: "TitilliumWeb";
  letter-spacing: 1px;
  font-size: 12px;
  display: flex;
  align-items: center;
  border-radius: 1px;
}

.menuønsketantal{
  background-color: rgb(48, 49, 52);
  padding: 5%;
  margin-top: 15px;
  text-align: center;
  color: white;
  font-family: "TitilliumWeb";
  letter-spacing: 1px;
  font-size: 12px;
  display: flex;
  align-items: center;
  border-radius: 1px;
}

.menudraganddrop{
  background-color: rgb(48, 49, 52);
  padding: 5%;
  margin-top: 15px;
  text-align: center;
  color: white;
  font-family: "TitilliumWeb";
  letter-spacing: 1px;
  font-size: 12px;
  display: flex;
  align-items: center;
  border-radius: 1px;
}

.dinpalle{
  background-color: rgb(48, 49, 52);
  padding: 5%;
  margin-top: 15px;
  text-align: center;
  color: white;
  font-family: "TitilliumWeb";
  letter-spacing: 1px;
  font-size: 11px;
  display: flex;
  align-items: center;
  border-radius: 5px;
}

.ønsketantal{
  background-color: rgb(48, 49, 52);
  padding: 5%;
  margin-top: 15px;
  text-align: center;
  color: white;
  font-family: "TitilliumWeb";
  letter-spacing: 1px;
  font-size: 11px;
  display: flex;
  align-items: center;
  border-radius: 5px;
}

.trækpakketypeherhen{
  background-color: rgb(48, 49, 52);
  padding: 5%;
  margin-top: 15px;
  text-align: center;
  color: #007BFF;
  font-family: "TitilliumWeb";
  letter-spacing: 1px;
  font-size: 12px;
  display: flex;
  align-items: center;
  border-radius: 5px;
}

.pakketypeduharvalgt h3{
    margin-top: 10px;
    padding-left: 20px;
    font-size: 15px;
    color: #ffffff;
}

.bokstilafkrydsning {
  margin-top: 3px;
  border-radius: 5px;
  background-color: #303134;
  padding: 5px;
  margin: 15px;
}

.bokstilafkrydsning2 {
  margin-top: 3px;
  border-radius: 5px;
  background-color: #303134;
  padding-left: 90px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.containertilantal {
  border-radius: 5px;
  background-color: #303134;
  padding: 10px;
  margin: 15px;
}

.containertilantal2 {
  border-radius: 5px;
  background-color: #303134;
  padding-left: 90px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.containernytrækherhen {
  border-radius: 5px;
  background-color: #007BFF;
  opacity: 60%;
  margin: 0px;
  padding: 5px;
}

.træknæstepakkeherhen h3{
    font-size: 12px;
    text-align: center;
    color: #ffffff;
}

.sedinepakker {
  border-radius: 5px;
  background-color: #000000;
  margin: 0px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 2px;
  padding-right: 2px;
}

.tekstsedinepakker h3{
    font-size: 18px;
    text-align: center;
    color: #EC5D1F;
}
.containertilpakketypetilsidst {
  background-color: #303134;
  opacity: 75%;
  border-radius: 1px;
  font-family: 'TitilliumWeb';
  padding: 10px;
  margin-top: 5px;
  margin: 10px;

}
.pakketypentilsidst {
  color:white;
  text-align: center;
  font-size: 12px;
  font-family: 'TitilliumWeb';
}


#skjulførstepakke {
display: none;

}

#skjulandenpakke {
display: none;

}

#skjultredjepakke {
display: none;

}


#div1, #div2 {
  float: left;
  width: 100px;
  height: 35px;
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
}

.containerendeligtvalg {
  border-radius: 5px;
  background-color: #303134;
  padding left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 100px;
  margin-right: 100px;
}

.ditvalgtilslut{
  background-color: rgb(48, 49, 52);
  padding-left: 25px;
  text-align: center;
  color: white;
  font-family: "TitilliumWeb";
  letter-spacing: 1px;
  font-size: 14px;
  align-items: center;
}

.btn {
  border: none;
  background-color: #28A745 ;
  padding: 8px 28px;
  font-size: 16px;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  margin-left: 12%;
  margin-top: 4%;
}

.containervedikke {
  border-radius: 5px;
  background-color: #303134;
  padding: 20px;
  margin: 20px;
}

.containervedikke2 {
  border-radius: 5px;
  background-color: #303134;
  padding-left: 90px;
  padding-top: 20px;
  padding-bottom: 20px;
}

h2{
color: #EC5D1F;
font-size: 12px;
}

.containernytest {
  border-radius: 5px;
  background-color: #303134;
  padding: 20px;
  margin: 20px;
}

.containernytest2 {
  border-radius: 5px;
  background-color: #303134;
  padding-left: 90px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.success {
        outline: 2px solid green;
    }
    .error {
        outline: 2px solid red;
    }

.testny {
  margin-top: 13%;
  /* border: 2px solid white; */
  /* background-color: blue; */
  padding: 4px 12px;
  font-size: 18px;
  color: #ffffff;
  cursor: pointer;
  display: block;
clear: both;
}

#mycheckboxdiv{
  clear: both;
}
.btnsubmit {
  border: none;
  background-color: #28A745 ;
  padding: 8px 28px;
  font-size: 16px;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  margin-left: 10%;
  margin-top: 4%;
}

.container {
  border-radius: 5px;
  background-color: #303134;
  padding: 20px;
  margin: 20px;
}

.container2 {
  border-radius: 5px;
  background-color: #303134;
  padding-left: 90px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.forsøgmedoriginalboks {
  border-radius: 5px;
  background-color: #303134;
  padding: 20px;
  margin: 20px;
}

.forsøgmedoriginalboks2 {
  border-radius: 5px;
  background-color: #303134;
  padding-left: 90px;
  padding-top: 20px;
  padding-bottom: 20px;
}


/* PAK PALLEN DU HAR VALGT-SIDEN (SLUT)*/

/* JOHN SLUT */

/* MARK */
/* pakketyper - templates*/

.btn {
  border: none;
  background-color: #28A745 ;
  padding: 8px 28px;
  font-size: 16px;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  margin-left: 12%;
  margin-top: 4%;
}

.wrap {
    width: 50%;
    margin: auto;
}

.icon {
    width: 40px;
    height: 6px;
    background:#EC5D1F;
    margin: 6px 0;
}

.pakketype h1 {
    padding-top: 20px;
    text-align: center;
    color: #EC5D1F;
}

.pakketype h3{
    padding-left: 20px;
    color: #ffffff;
}

label {
  color: white;
}

* {
  box-sizing: border-box;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.pakketyper-container {
  border-radius: 5px;
  background-color: #303134;
  padding: 20px;
}

.container2 {
  border-radius: 5px;
  background-color: #303134;
  padding-left: 90px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

.block {
  display: block;
  margin: auto;
  width: 50%;
  border: none;
  background-color: #696969;
  color: #EC5D1F;
  padding: 14px 28px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  font-weight: 100;
}

.block:hover {
  background-color: #ddd;
  color: black;
}
