
/* HELENE */
html{
  scroll-behavior: smooth;
}

body{
  margin: 0;
  font-family: titilliumWeb;
  font-size: 15px;
  line-height: 1.5;
  background-color: #4C4D52;
  color: white;
}

/* palletype_fastlane */

.ikon{
  width: 15%;
  height: 15%;
  align-self: center;
}

.header{
  padding-top: 2%;
  padding-bottom: 2%;
  display: flex;
  justify-content: space-around;
  background-color: black;
}

.menu{
  display: none;
}

.menu ul{
  position: absolute;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  height: auto;
  background-color: rgb(34, 37, 42);
}

.menu li a{
  color: white;
  text-decoration: none;
  line-height: 200%;
}

.palletyper{
  padding-top: 10%;
  display: grid;
  justify-content: center;
  grid-gap: 5%;
  grid-template-columns: 110px 110px;
  grid-auto-rows: 110px 110px 110px;
  align-items: stretch;
}

.item{
  background-color: rgb(48, 49, 52);
  padding: 5%;
  margin-top: 15px;
  text-align: center;
  color: white;
  font-family: titilliumWeb;
  letter-spacing: 1px;
  font-size: 11px;
  display: flex;
  align-items: center;
  border-radius: 5px;
}

.overskrift1{
  text-align: center;
  font-size: 18px;
  padding-top: 10%;
  color: rgb(224, 98, 53);
}

.overskrift2{
  margin-top: 20%;
  text-align: center;
  font-size: 18px;
  padding-top: 10%;
  color: white;
}

.trin{
  position: fixed;
  bottom: 2%;
  padding-top: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.ikon2{
  width: 20%;
}

/* pakketyper-fastlane */

.pakketyper{
  padding-top: 10%;
  margin-right: 5%;
  margin-left: 2%;
  display: grid;
  justify-content: center;
  grid-gap: 15%;
  grid-template-columns: 1fr 2fr;
  grid-auto-rows: 110px 110px 110px;
  align-items: stretch;
}

.pakketyper > div{
  margin-top: 15px;
  color: white;
  font-family: titilliumWeb;
  letter-spacing: 1px;
  font-size: 11px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pakketype-boks{
  width: 100px;
  height: 20px;
  background: #303134;
  border-radius: 3px;
}

.form-boks{
  width: 150px;
  height: 20px;
  background: #C3C4C5;
  border-radius: 3px;
}

.flexbox-pakketyper{
  display: flex;
  flex-direction: column;
  align-items: flex-start !important;
  justify-content: flex-start !important;
  row-gap: 8%
}

.text{
  text-align: left  !important;
}
*, *::before, *::after {
  box-sizing: border-box;
}

/* Pakkehøjde */

.pakkehoejde{
  padding-top: 10%;
  margin-right: 5%;
  margin-left: 2%;
  display: grid;
  justify-content: center;
  grid-gap: 15%;
  align-items: stretch;
}


/* Skifttyper */

@font-face {
  font-family: titilliumWeb;
  src: url('fonts/Titillium_Web/TitilliumWeb-Light.ttf');
}

h1{
  font-family: titilliumWeb;
  letter-spacing: 3px;
  color: white;
  font-size: 20px;
  text-align: center;
}

/* STYLEGUIDE */

a{
  text-decoration: none;
  color: white;
}

hr{
  border: 2px solid white;
  margin-bottom: 0px;
}

.flex-container{
  display: flex;
  flex-wrap: wrap;
}

.navbar{
  flex: 2;
}

.content{
  flex: 7;
}

.navbar ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 10%;
  background-color: rgb(48, 49, 52);
  height: 100%;
  overflow: auto;
  font-family: "CenturyGothic", sans-serif;
  min-width: 180px;
}

.navbar li a{
  display: block;
  padding: 8px 16px;
  text-decoration: none;
  color: white;
}

.navbar li a.active {
  background-color: rgb(224, 98, 53);
  color: white;
}

.navbar li a:hover:not(.active) {
  background-color: #555;
  color: white;
}

@media screen and (max-width: 600px){
  .navbar{
    flex: 4;
  }

  .content{
    flex: 6;
  }

  .navbar ul{
      min-width: 120px;
  }
}

/* STYLEGUIDE (FARVER) */
.flex-container2{
  display: flex;
  flex-direction: column;
}

.orange{
  width: 70px;
  height: 70px;
  background: #E06538;
  border-radius: 10px;
}

.hvid{
  width: 70px;
  height: 70px;
  background: #ffffff;
  border-radius: 10px;
}

.sort{
  width: 70px;
  height: 70px;
  background: #000000;
  border-radius: 10px;
}

.lysgraa{
  width: 70px;
  height: 70px;
  background: #C1C3C3;
  border-radius: 10px;
}

.graa{
  width: 70px;
  height: 70px;
  background: #4C4D52;
  border: 1px solid black;
  border-radius: 10px;
}

.moerkgraa{
  width: 70px;
  height: 70px;
  background: #303134;
  border-radius: 10px;
}

/* HELENE SLUT */


/* JOHN START */
/* VELKOMMEN-SIDEN (START)*/
.nytemplate {
  border-radius: 5px;
  background-color: #303134;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 35px;
  padding-bottom: 35px;
  margin: 20px;
  margin-top: 10px;
}

.loadtemplate {
  border-radius: 5px;
  background-color: #303134;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 35px;
  padding-bottom: 35px;
  margin: 20px;
  margin-top: 10px;
}

.Velkomsttekst h1 {
    padding-top: 35px;
    text-align: center;
    font-size: 50px;
    color: #EC5D1F;
    margin-top: 160px;
}

.templateknap button {
  background-color:#4C4D52;
  color: #ffffff;
  font-size: 23px;
  font font-family: "TitilliumWeb";
  text-decoration: none;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
  margin-bottom: 5%;
  transition-duration: 0.4s;
  border-radius: 1px;
  border: 0.1em solid #000000;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  cursor: pointer;
}
/* VELKOMMEN-SIDEN (SLUT)*/
/* VÆLG PALLETYPE-SIDEN (START)*/
.vaelgpalletyperher{
  padding-top: 10%;
  display: grid;
  justify-content: center;
  grid-gap: 5%;
  grid-template-columns: 130px 130px;
  grid-auto-rows: 130px 130px 130px;
  align-items: stretch;
}

.individuelpalletype{
  background-color: rgb(48, 49, 52);
  padding: 5%;
  margin-top: 15px;
  text-align: center;
  color: white;
  font-family: "TitilliumWeb";
  letter-spacing: 1px;
  font-size: 13px;
  display: flex;
  align-items: center;
  border-radius: 5px;
}

.titelvaelgpalletype{
  margin-top: 80px;
  text-align: center;
  font-size: 25px;
  padding-top: 10%;
  color: rgb(224, 98, 53);
}
/* VÆLG PALLETYPE-SIDEN (SLUT)*/
/* DU HAR VALGT-SIDEN (START)*/

.duharvalgt h1 {
    padding-top: 20px;
    text-align: center;
    color: #EC5D1F;
}

.containerditvalg {
  border-radius: 5px;
  background-color: #303134;
  padding left: 50px;
  padding-right: 50px;
  padding-top: 60px;
  padding-bottom: 60px;
  margin: 50px;
}

.ditvalg{
  background-color: rgb(48, 49, 52);
  padding-left: 50px;
  text-align: center;
  color: white;
  font-family: "TitilliumWeb";
  letter-spacing: 1px;
  font-size: 18px;
  align-items: center;
}

.titelfyldningsprocent h3{
    padding-left: 20px;
    color: #ffffff;
}

.titelfyldningshøjde h3{
    padding-left: 20px;
    color: #ffffff;
}

.titeltilladtudhæng h3{
    padding-left: 20px;
    color: #ffffff;
}

.containerprocentsats {
  border-radius: 5px;
  background-color: #303134;
  padding: 20px;
  margin: 20px;
}

.containertilindhold {
  border-radius: 5px;
  background-color: #303134;
  padding: 20px;
  margin: 20px;
}

.containertilindhold2 {
  border-radius: 5px;
  background-color: #303134;
  padding-left: 90px;
  padding-top: 20px;
  padding-bottom: 20px;
}

label {
  color: white;
}

* {
  box-sizing: border-box;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.col-250 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-750 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.rows:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-250, .col-750, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
/* DU HAR VALGT-SIDEN (SLUT)*/
/* PAK PALLEN DU HAR VALGT-SIDEN (START)*/

/* PAK PALLEN DU HAR VALGT-SIDEN (SLUT)*/

/* JOHN SLUT */
