<!DOCTYPE html>
<html lang="da">
  <head>
    <meta charset="utf-8">
    <title>Pak Pallen Du har Valgt</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../../style.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <header class="header">
      <img class="ikon" src="../../images/icons/logo.png">
      <div>
        <h1 onclick="document.location = '../index.html'">ROBOT NORDIC</h1>
      </div>
      <img class="ikon" onclick="myFunction()" src="../../images/icons/burger-bar.png">
  </header>
  <div class="menu" id="toggleMenu">
    <ul>
        <li><a href="../index.html">FORSIDE</a></li>
        <li><a href="templates.html">TEMPLATES</a></li>
        <li><a href="kontakt.html">KONTAKT</a></li>
    </ul>
  </div>
  <div class="pakpallenduharvalgt">
    <h1>PAK PALLEN DU HAR VALGT</h1>
  </div>
  <div class="menunavnetilpakning">
    <div id="button" class="menupalletilrådighed" onclick="return colorChange(this);">Palle til rådighed</div>
    <div id="button" class="menuønsketantal" onclick="return colorChange(this);">Ønsket Antal</div>
    <div id="button" class="menudraganddrop" onclick="return colorChange(this);">Drag & Drop</div>
  </div>
  <div class="pakdinpalleher">
    <div id="button" class="dinpalle" onclick="return colorChange(this);">Euro-Palle<br>(Helpalle)<br><br>Mål:1,200 x 800 mm</div>
    <div id="button" class="ønsketantal" onclick="return colorChange(this);"></div>
    <div id="button" class="trækpakketypeherhen" onclick="return colorChange(this);">Træk Pakketype Herhen</div>
  </div>

  <footer class="trin">
      <div><a href="mark4-ekstraindstillinger-templates.html"><img class="ikon2" src="../../images/icons/venstre-pil.png"></a></div>
      <div>TRIN 7/7</div>
      <div><a href="john7-pakpallen-templates.html"><img class="ikon2" src="../../images/icons/højre-pil.png"></a></div>
  </footer>
  <script src="../../javascript/john.js"></script>
</body>
</html>
