<!DOCTYPE html>
<html lang="da">
  <head>
    <meta charset="utf-8">
    <title>Pak Pallen Du har Valgt</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../../style.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <header class="header">
      <img class="ikon" src="../../images/icons/logo.png">
      <div>
        <h1 onclick="document.location = '../index.html'">ROBOT NORDIC</h1>
      </div>
      <img class="ikon" onclick="myFunction()" src="../../images/icons/burger-bar.png">
  </header>
  <div class="menu" id="toggleMenu">
    <ul>
        <li><a href="../index.html">FORSIDE</a></li>
        <li><a href="templates.html">TEMPLATES</a></li>
        <li><a href="kontakt.html">KONTAKT</a></li>
    </ul>
  </div>
  <div class="pakpallenduharvalgt">
    <h1>PAK PALLEN DU HAR VALGT</h1>
  </div>
  <div class="menunavnetilpakning">
    <div id="button" class="menupalletilrådighed" onclick="return colorChange(this);">Palle til rådighed</div>
    <div id="button" class="menuønsketantal" onclick="return colorChange(this);">Ønsket Palle Antal</div>
    <div id="button" class="menudraganddrop" onclick="return colorChange(this);">Drag & Drop Her</div>
  </div>
  <div class="pakdinpalleher">
    <div id="button" class="dinpalle" onclick="return colorChange(this);">Euro-Palle<br>(Helpalle)<br><br>Mål:1,200 x 800 mm</div>
    <div id="button" class="ønsketantal" onclick="return colorChange(this);"></div>
    <div id="button" class="trækpakketypeherhen" onclick="return colorChange(this);">Træk Pakketype Herhen</div>
  </div>
  <div class="pakketypeduharvalgt">
  <h3>Pakketype 1</h3>
      </div>
      <div class="bokstilafkrydsning">
<form action="/action_page.php">
  <input type="checkbox" id="box" name="box" value="box1">
  <label for="box">Fyld pallen med denne pakketype</label><br>
  <input type="checkbox" id="cylinder" name="cylinder" value="cylinder1">
  <label for="vehicle2">Mix palleter med denne pakketype</label><br>
</form>
    </div>
    <div class="containertilantal">
    <div class="rows">
  <div class="col-250">
    <label for="fname">Pakketype 1</label>
  </div>
  <div class="col-750">
    <input type="text" id="fname" name="name" placeholder="0 Stk">
  </div>
</div>
    </div>
    <div class="containernytrækherhen">
      <div class="træknæstepakkeherhen">
      <h3>Træk Den "Næste" Pakketype Herhen</h3>
          </div>
    </div>
    <div class="pakketypeduharvalgt">
    <h3>Pakketype 2</h3>
        </div>
        <div class="bokstilafkrydsning">
  <form action="/action_page.php">
    <input type="checkbox" id="cylinder" name="cylinder" value="cylinder1">
    <label for="vehicle2">Mix palleter med denne pakketype</label><br>
  </form>
      </div>
      <div class="containertilantal">
      <div class="rows">
    <div class="col-250">
      <label for="fname">Pakketype 2</label>
    </div>
    <div class="col-750">
      <input type="text" id="fname" name="name" placeholder="0 Stk">
    </div>
  </div>
      </div>
      <div class="sedinepakker">
        <div class="tekstsedinepakker">
        <h3>DINE PAKKETYPER</h3>
            </div>
      </div>
      <div class="containertilpakketypetilsidst">
        <div class="pakketypentilsidst">
              <p>Pakketype 1 -"TRÆK HER"-</p>
        </div>
      </div>
      <div class="containertilpakketypetilsidst">
        <div class="pakketypentilsidst">
              <p>Pakketype 2 -"TRÆK HER"-</p>
        </div>
      </div>
      <div class="containertilpakketypetilsidst">
        <div class="pakketypentilsidst">
              <p>Pakketype 3 -"TRÆK HER"-</p>
        </div>
      </div>
      <br><br>
      <br><br>
  <footer class="trin">
      <div><a href="mark4-ekstraindstillinger-templates.html"><img class="ikon2" src="../../images/icons/venstre-pil.png"></a></div>
      <div>TRIN 7/7</div>
      <div><a href="john7-pakpallen-templates.html"><img class="ikon2" src="../../images/icons/højre-pil.png"></a></div>
  </footer>
  <script src="../../javascript/john.js"></script>
</body>
</html>
