<!DOCTYPE html>
<html lang="da">
  <head>
    <meta charset="utf-8">
    <title>Pak Pallen Du har Valgt</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../../style.css" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </head>
  <body>
    <header class="header">
      <img class="ikon" src="../../images/icons/logo.png">
      <div>
        <h1 onclick="document.location = '../index.html'">ROBOT NORDIC</h1>
      </div>
      <img class="ikon" onclick="myFunction()" src="../../images/icons/burger-bar.png">
  </header>
  <div class="menu" id="toggleMenu">
    <ul>
        <li><a href="../index.html">FORSIDE</a></li>
        <li><a href="templates.html">TEMPLATES</a></li>
        <li><a href="kontakt.html">KONTAKT</a></li>
    </ul>
  </div>

  <div class="pakpallenduharvalgt">
    <h1>PAK PALLEN DU HAR VALGT</h1>
  </div>
  <div class="containerendeligtvalg">
    <div id="button" class="ditvalgtilslut">Euro-Palle<br>(Helpalle)<br><br>Mål:1,200 x 800 mm</div>
  </div>
  <div class="containernytest">
  <div class="row">
<div class="col-25">
  <label for="fname">Ønsket Pakke Antal</label>
  <input type="text" id="myInput1" class="fname"></input>
</div>
</div>
  </div>
  <button class="btn" onclick="vispakker()">Klik her for at vælge pakketyper</button>
  <div class="menu" id="togglejohn" style="clear:both">

    <div class="container">
    <form action="#">
     <input type="checkbox" id="checkedfyldpalle" name="fyldpalle">
     <label for="mm">Fyld pallen med denne type</label><br>
     <input type="checkbox" id="checkedmixpalletering" name="Mixpalletering">
     <label for="%">Mixpalletering</label><br>
    </form>
    <div class="forsøgmedoriginalboks">
    <div class="row">
  <div class="col-25">
    <label for="fname">Ønsket Pakke Antal</label>
    <input type="text" id="myInput2" class="fname"></input>

  </div>
  </div>
    </div>
         </div>

  </div>

  <div id="shownypakke" style="display:none">
    <div class="container">
    <form action="#">
     <input type="checkbox" id="checkedfyldpalle" name="fyldpalle">
     <label for="mm">Fyld pallen med denne type</label><br>
     <input type="checkbox" id="checkedmixpalletering" name="Mixpalletering">
     <label for="%">Mixpalletering</label><br>
    </form>
    <div class="forsøgmedoriginalboks">
    <div class="row">
  <div class="col-25">
    <label for="fname">Ønsket Pakke Antal</label>
    <input type="text" id="myInput3" class="fname"></input>
  </div>

  </div>
    </div>
         </div>
  </div>

<div class="testny">
  <button type="button" class="btnsubmit"onclick="alert('Tak for din bestilling!')">Klik her for at bestille din ordre!</button>
</div>
<br><br>
<br><br>


  <footer class="trin">
      <div><a href="mark4-ekstraindstillinger-templates.html"><img class="ikon2" src="../../images/icons/venstre-pil.png"></a></div>
      <div>TRIN 7/7</div>
      <div><a href="john7-pakpallen-templates.html"><img class="ikon2" src="../../images/icons/højre-pil.png"></a></div>
  </footer>
  <script src="../../javascript/john.js"></script>
</body>
</html>
