<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Pakketyper</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="author" content="gruppe20">
    <meta name="keywords" content="">
    <link rel="stylesheet" href="mark1-pakketyper-templates.css">
  </head>
  <body>
    <header class="header">
      <img class="ikon" src="../../images/icons/logo.png" alt="logo">
      <div>
        <h1 onclick="document.location = '../index.html'">ROBOT NORDIC</h1>
      </div>
      <img class="ikon" onclick="myFunction()" src="../../images/icons/burger-bar.png" alt="burgermenu">
  </header>
  <div class="menu" id="toggleMenu">
    <ul>
        <li><a href="../index.html">FORSIDE</a></li>
        <li><a href="templates.html">TEMPLATES</a></li>
        <li><a href="kontakt.html">KONTAKT</a></li>
    </ul>
  </div>

      <div class="pakketype">
        <h1>VÆLG PAKKETYPER</h1>
      </div>

      <div class="container">
      <div class="row">
    <div class="col-25">
      <label for="fname">Navn</label>
    </div>
    <div class="col-75">
      <input type="text" id="fname" name="name" placeholder="Pakketype 1">
    </div>
  </div>
      </div>

      <div class="pakketype">
      <h3>Pakkeform</h3>
          </div>

      <div class="container">
<form action="/action_page.php">
  <input type="checkbox" id="box" name="box" value="box1">
  <label for="box">Kasse</label><br>
  <input type="checkbox" id="cylinder" name="cylinder" value="cylinder1">
  <label for="vehicle2" id="cylinder2">Cylinder</label><br>
</form>
          </div>


<div class="container">
  <div class="row">
    <div class="col-25">
      <label for="fname">Længde(cm)</label>
    </div>
    <div class="col-75">
      <input type="text" id="sname" name="laengde">
    </div>
  </div>



  <div class="row">
    <div class="col-25">
      <label for="lname" id="hoejde">Højde(cm)</label>
    </div>
    <div class="col-75">
      <input type="text" id="height" name="hjoede">
    </div>
  </div>

  <div class="row">
    <div class="col-25">
      <label for="country" id="width2">Bredde(cm)</label>
    </div>
    <div class="col-75">
      <input type="text" id="width" name="bredde">
    </div>
  </div>

  <div class="row">
    <div class="col-25">
      <label for="weight1" id="weight2">Vægt(kg)</label>
    </div>
    <div class="col-75">
      <input type="text" id="weight" name="bredde">
    </div>
  </div>

  <div class="row">
    <div class="col-25">
      <label for="sidemm" id="sidemm">Side ud(mm)</label>
    </div>
    <div class="col-75">
      <input type="text" id="side" name="bredde">
    </div>
  </div>
      </div>


  <div class="pakketype">
      <h3>Gem denne <br> pakketype?</h3>
          </div>

      <div class="container">
<form action="/action_page.php">
  <input type="checkbox" id="yes" name="yes" value="yes1">
  <label for="box">Ja</label><br>
  <input type="checkbox" id="No" name="No" value="No1">
  <label for="no" id="nope">Nej</label><br>
</form>
          </div>
          <div class="overskrift2">TILFØJ NY PAKKETYPE</div>
      <br>
      <br>
      <br>
      <br>
      <br>
      <footer class="trin">
          <div><a href="john2-duharvalgt-templates.html"><img class="ikon2" src="../../images/icons/venstre-pil.png" alt="vpil"></a></div>
          <div>TRIN 3/7</div>
          <div><a href="mark2-pakkeplacering-templates.html"><img class="ikon2" src="../../images/icons/højre-pil.png" alt="hpil"></a></div>
      </footer>
      <script src="../../javascript/helene.js"></script>
  </body>
</html>
