<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sensormargin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="author" content="gruppe20">
    <meta name="keywords" content="">
    <link rel="stylesheet" href="mark3-sensormargin-templates.css" type="text/css">
  </head>
  <body>
    <header class="header">
      <img class="ikon" src="../../images/icons/logo.png">
      <div>
        <h1 onclick="document.location = '../index.html'">ROBOT NORDIC</h1>
      </div>
      <img class="ikon" onclick="myFunction()" src="../../images/icons/burger-bar.png">
  </header>
  <div class="menu" id="toggleMenu">
    <ul>
        <li><a href="../index.html">FORSIDE</a></li>
        <li><a href="templates.html">TEMPLATES</a></li>
        <li><a href="kontakt.html">KONTAKT</a></li>
    </ul>
  </div>

<div class="sensor">
  <h1>SENSORMARGIN</h1>
</div>

 <div class="container">
<form action="/action_page.php">
  <input type="checkbox" id="calculate1" name="mm" value="mm1">
  <label for="mm">Udregn i mm</label><br>
  <input type="checkbox" id="calculate1" name="procent" value="procent1">
  <label for="%">Udregn i %</label><br>
</form>
      </div>

      <div class="container">
  <div class="row">
    <div class="col-25">
      <label for="fname">Sensor max <br> Positive Margin</label>
    </div>
    <div class="col-75">
      <input type="text" id="fname" name="laengde" placeholder="0 mm - 1800 mm">
    </div>
  </div>
      </div>

      <div class="container">
  <div class="row">
    <div class="col-25">
      <label for="fname">Sensor max <br> Negative Margin</label>
    </div>
    <div class="col-75">
      <input type="text" id="fname" name="laengde" placeholder="0 mm - 1800 mm">
    </div>
  </div>
      </div>


      <footer class="trin">
          <div><a href="mark2-pakkeplacering-templates.html"><img class="ikon2" src="../../images/icons/venstre-pil.png"></a></div>
          <div>TRIN 5/7</div>
          <div><a href="mark4-ekstraindstillinger-templates.html"><img class="ikon2" src="../../images/icons/højre-pil.png"></a></div>
      </footer>
            <script src="../../javascript/helene.js"></script>
  </body>
</html>
