body{
  margin: 0;
  font-family: titilliumWeb;
  font-size: 15px;
  line-height: 1.5;
  background-color: #4C4D52;
  color: white;
}

.RobNor h1 {
  letter-spacing: 3px;
  color: white;
  font-size: 20px;
  text-align: center;
}

.pakketype h1 {
    padding-top: 20px;
    text-align: center;
    color: #EC5D1F;
}

.pakketype h3{
    padding-left: 20px;
    color: #ffffff;
}

label {
  color: white;
}

* {
  box-sizing: border-box;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #303134;
  padding: 20px;
  margin: 20px;
}

.container2 {
  border-radius: 5px;
  background-color: #303134;
  padding-left: 90px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

.overskrift2{
  margin-top: 10px;
  text-align: center;
  font-size: 18px;
  padding-top: 10px;
  color: white;
}



/* HELENE CSS (FRA FÆLLES) */

@font-face {
  font-family: titilliumWeb;
  src: url('../../fonts/Titillium_Web/TitilliumWeb-Light.ttf');
}

.trin{
  padding-top: 2%;
  padding-bottom: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: fixed;
  bottom: 0;
  background: black;
}



.ikon2{
  width: 20%;
}

.header{
  padding-top: 2%;
  padding-bottom: 2%;
  display: flex;
  justify-content: space-around;
  background-color: black;
  max-height:70px;
  align-items: center;
}


.menu{
  display: none;
}

.menu ul{
  position: absolute;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  height: auto;
  background-color: rgb(34, 37, 42);
}

.menu li a{
  color: white;
  text-decoration: none;
  line-height: 200%;
}

.ikon{
  width: 5%;
  height: 5%;
  align-self: center;
}

@media only screen and (max-width: 1000px) {
 .ikon{
   width: 10% ;
   height: 10% !important;
 }
}

h1{
  font-family: titilliumWeb;
  letter-spacing: 3px;
  color: white;
  font-size: 20px;
  text-align: center;
}
